{% extends 'base.html' %}

{% block body %}
<center><h3>My Blog</h3></center>
<br>
<a href="/addnews/"><button type="button" class="btn btn-primary">Add News</button></a><br>
<br>
{% for post in posts %}
<div class="card">
  <div class="card-block">
      <h4 class="card-title"><a href="posts/{{ post.slug }}">{{ post.title }}</a></h4>
    <h6 class="card-subtitle mb-2 text-muted">Published at : {{ post.date }}</h6>
    <p class="card-text">
 {% autoescape off %}
        {{ post.text }}</p>
{% endautoescape %}
    <a href="#" class="card-link">Read more...</a>

  </div>
</div><br><br>

{% endfor %}

{% endblock %}

